@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css animations */

* {
  transition-property: background-color, color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out;
}

.animate-slide-in {
  animation: slideIn 0.8s ease-out;
}

.skill-bar {
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

/* Added custom scrollbar styling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
